body {
    box-sizing: content-box;
    width: 500px; margin: auto; padding-top: 200px;
    background-color: black; color: white; 
    text-shadow: 2px 2px rgb(201, 0, 0); 
    font-size: larger; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.heading {
font-size: medium; 
font-family: Georgia, 'Times New Roman', Times, serif; 
text-shadow: none; font-weight: bold;
margin-left: 15px;
}
img {
    margin-top: 18px; margin-bottom: 36px; margin-left: 8px;
}

#center {
    width: 475px; margin: auto;
}

div.disclaimer {
    text-shadow: none; font-size: small; font-style: oblique; color: whitesmoke; 
}

button {
    padding: 5px 8px; 
    margin-left: 12px;
    font-size: large; 
    background-color: rgb(175, 175, 175); 
    font-weight: bold; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }