body {
    background-color: rgb(0, 0, 0);
    background-image: url(./media/site-backer-bw.jpg);
    color: white;
    text-shadow: 2px 2px #000000;
}

h1 { 
    max-width: 30%;
    margin: auto;
    padding: 10px;
    text-align: left; 
    align-items: center;
}
#ratings
{ 
    font-size: larger;
}
h6 { 
    max-width: 30%;
    margin: auto;
    padding: 10px;
    text-align: left; 
    align-items: center;
}

p { 
    max-width: 30%;
    margin: auto;
    padding: 10px;
    text-align: left; 
    align-items: center;
    text-indent: 2em;
}

img {
    max-width: 30%;
    height: auto;
    margin: auto;
    display: block;
}
#rating {
    font-size: large;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    width: 400px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    padding-bottom: 25px;
}

#rating em {
    color: white;
    text-shadow: blue;
}

#header {
    display: flex;
    box-sizing: border-box;
    outline: 3px solid rgb(180, 180, 180);
    width: 600px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}
#header .button {
    padding: 2px 5px; 
    background-color: rgb(175, 175, 175); 
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: medium;
}